/* css font family cdn link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+HR:wght@100..400&display=swap');

.inter-fontFamily {
  font-family: "Inter", sans-serif;
  background: #1a1919;
}

.mrs-fontFamily {
  font-family: "Playwrite HR", cursive;
  font-weight: 300;
  padding-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* share code start */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.container {
  background: #1a1919;
}

.container-gray,
#run {
  background: rgb(34, 34, 34);
  color: white;
}

.btn-primary {
  background: rgb(230, 83, 60);
  padding: 15px 60px;
  border-radius: 97px;
  font-size: 1.2rem;
  border: 2px solid transparent;
  cursor: pointer;
  margin-top: 25px;
  color: white;
}

.btn-primary a {
  color: white;
}

/* share code end */

/* header & hero section start */

.container-header {
  background: linear-gradient(356deg, rgb(17 17 17), rgb(119 119 119) 100%);
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top: 35px;
}

.logo {
  font-size: 2rem;
  color: rgb(230, 83, 60);
  max-width: 132px;
  font-weight: 800;
}

.ul_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}

.ul_parent li a {
  color: white;
  padding-right: 10px;
}

.ul_parent li {
  border-radius: 15px;
  background-color: transparent;
  padding: 10px 20px 10px 35px;
  transition: all 0.5s;
  text-align: center;
  cursor: pointer;
}

.ul_parent li:hover {
  padding: 10px 20px 10px 35px;
  background: rgb(230, 83, 60);
  border-radius: 15px;
}

.home {
  padding: 10px 20px 10px 35px !important;
  background: rgb(230, 83, 60) !important;
  border-radius: 15px !important;
}

.three-icon {
  display: none;
  text-align: left;
}

.three-icon a {
  text-align: right;
  display: block;
  color: white;
  font-size: 2rem;
  margin-right: 2px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  max-width: 535px;
}

.hero-title h1 {
  font-size: 4rem;
  font-weight: 900;
  color: white;
}

.hero-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.btn-hero {
  margin-right: 15px;
}

.hero-img-box img {
  width: 100%;
  height: 100%;
}

.hero-img-box {
  position: relative;
  width: 350px;
}

.top-box {
  position: absolute;
  top: 160px;
  left: 200px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  width: 145px;
  padding: 10px;
}

.bottom-box {
  position: absolute;
  bottom: 75px;
  right: 230px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  width: 140px;
  padding: 10px;
}

.top-box h2,
.bottom-box h2 {
  color: white;
  font-size: 1.9rem;
  text-align: center;
}

.top-box p,
.bottom-box p {
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center !important;
}

.parent-tool {
  display: flex;
  gap: 8px;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: rgb(230, 83, 60);
  top: 20px;
  margin-top: 18px;
}

/* header & hero section end */

/* main section start */

.hero-bottom {
  padding-bottom: 80px;
}

.change-tex {
  max-width: 700px;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 60px 0;
}

.change-tex h2 {
  font-size: 3.8rem;
  font-weight: 900;
}

.change-tex p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  padding-top: 15px;
}

.change-img-box img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.change-img-box {
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img-title h4,
p {
  text-align: center;
  color: white;
  padding-top: 10px;
}

.img-title p {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 15px;
}

.change-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.text-photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  align-items: center;
}

.run-title {
  max-width: 340px;
}

.run-title h2 {
  font-size: 2.5rem;
}

.run-title p {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: .8rem;
  text-align: left;
}

.run-photo img {
  width: 100%;
  border-radius: 18px;
}

section.run {
  padding: 70px 0;
}

.text_con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 0 60px 0;
}

caption {
  font-size: 1.3rem;
  padding-bottom: 20px;
}

.table-box {
  max-width: 335px;
}

.table-box table{
  width: 100%;
}

.table-box th,
td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 150px;
  padding: 20px;
  text-align: left;
}

.table-box th {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}

.con-title h2 {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.con-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: .9rem;
  letter-spacing: 0.3px;
  padding-bottom: 12px;
  text-align: left;
}

form input,
select {
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
  height: 40px;
  margin: 5px;
}

.form input,
select {
  border-radius: 8px;
  border: none;
  background: #393939;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
  height: 40px;
  margin: 5px;
  width: 47%;
}

.factor select {
  width: 97%;
}

.trainer-title {
  max-width: 630px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.trainer-title h2 {
  color: white;
  padding-bottom: 15px;
}

.trainer-title p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.trainer-section {
  padding: 80px 0px;
}

.trainer-team {
  background: rgb(34, 34, 34);
  padding: 15px;
  border-radius: 18px;
}

.trainer-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.trainer-img {
  position: relative;
}

.trainer-img img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.img-text {
  color: white;
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-size: 1rem;
}

.img-text p {
  color: #ccc;
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 5px;
}

/*  */
.feedback {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-bottom: 85px;
}

.feed-img {
  margin: 0 auto;
  padding-bottom: 15px;
  border-radius: 100%;
  width: 120px;
  height: 140px;
}

.feed-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.feedback-box small {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  padding: 0 0;
}

.rating-box {
  padding-top: 10px;
}

.rating-icon i {
  color: #f39c12;
}

.feedback-box p {
  text-align: center !important;
  font-size: .8rem;
}

/* main section end */

/* footer start */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 30px;
}

.f-title {
  padding-bottom: 20px;
}


.f-div2 ul>li {
  padding-bottom: 10px;
}

.f-div1 {
  max-width: 400px;
}

.logo h1 {
  color: rgb(230, 83, 60);
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 12px;
}

.para p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: left;
}

.f-div2 {
  max-width: 130px;
}

.f-div2 ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

.f-div3 {
  max-width: 130px;
}

/* footer start */

/* last footer start */

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

small {
  text-align: center;
  display: block;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 25px;
}

/* last footer end */