/* css font family cdn link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');

.inter-fontFamily {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  background: #1a1919;
  max-width: 1440px;
  color: white;
  height: auto;
}

/* share css code */

.btn-primary {
  background: rgb(230, 83, 60);
  width: 224px;
  height: 54px;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid transparent;
  cursor: pointer;
}

.row {
  max-width: 1060px;
  margin: 0 auto;
}

/* custom css */

.container-header {
  background: linear-gradient(356deg, rgb(17 17 17), rgb(119 119 119) 100%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.logo {
  font-size: 2rem;
  color: rgb(230, 83, 60);
  width: 132px;
  font-weight: 800;
}

.ul_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 465px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding-right: 10px;
}

.ul_parent li a {
  color: white;
}

.home {
  width: 92px;
  height: 38px;
  padding: 8px 20px 8px 20px;
  background: rgb(230, 83, 60);
  border-radius: 46px;
}

.section_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_h1,
.change_h1 {
  width: 520px;
  height: 282px;
  font-size: 4rem;
  font-weight: 900;
  line-height: 120%;
}

.shape {
  font-family: "Playwrite CU", cursive;
  font-weight: 200;
}

.header_p1,
.change-p1,
.meet-p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.col-3 {
  width: 600px;
}

.header-btn {
  margin-top: 1rem;
}

.btn-header {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: transparent;
  margin-left: 1rem;

}

.col-4 {
  position: relative;
}

.col-4 {
  position: relative;
}

.col-4 .img {
  width: 349px;
  height: 580px;
}

.col-4 .img img {
  width: 100%;
  height: auto;
}

.top-tool {
  position: absolute;
  top: 160px;
  left: 250px;
  width: 150px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
}

.five,
.three {
  font-size: 25px;
}

.top-tool .Videos,
.tutorial,
.change_p1,
.img-tex-p {
  font-size: 0.5rem;
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
  letter-spacing: 1px;
}

.bottom-tool {
  position: absolute;
  bottom: 75px;
  right: 250px;
  width: 150px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
}

.change_img_box {
  max-width: 250px;
}

.img_change {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img_change img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.change_h1,
.change-p1,
.meet-h1 {
  width: 100%;
  text-align: center;
  height: auto;
}

.change_h1 {
  padding-top: 7rem;
}

.change-p1 {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.h5 {
  margin-top: 2rem;
  font-size: 1.08rem;
}

.change_p1 {
  margin-top: 1rem;
  font-size: 0.7rem;
}

.h5,
.change_p1 {
  text-align: center;
}

.change_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7rem;
}

.text_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  padding: 40px;
  background: rgb(34, 34, 34);
}

.tex-box {
  width: calc((100% - 400px) - 110px);
}

.img-box {
  width: 400px;
  height: 300px;
}

.img-box img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.img-tex-h2 {
  font-size: 2rem;
  line-height: 150%;
}

.img-tex-p {
  padding-bottom: 2rem;
  font-size: .8rem;
}

.section-text_img {
  padding-bottom: 100px;
}

#calculat {
  background: rgb(34, 34, 34);
  padding: 80px;
}

.calculat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 150px;
}

.bmi-calculator {
  width: 500px;
  text-align: center;
}

h3.calculat-h3 {
  margin-bottom: 35px;
  color: white;
}

.calculat-th th,
.calculat-td td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.5rem;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 150px;
  padding: 20px;
}

.calculat-th th {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}

table.calculat-table {
  width: 350px;
}

.calculate-h3 {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.calculate-p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.5rem;
  font-weight: 400;
  line-height: .9rem;
  letter-spacing: 0.3px;
  padding-bottom: 12px;
}

form input,
select {
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
  height: 40px;
  margin: 5px;
  width: 47%;
}

.factor {
  width: 96%;
  margin-bottom: 35px;
}

.meet-p {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 50px;
}

.meet-team {
  padding: 80px 0;
}

.team_box {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px
}

.team-box1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.team-box1 img {
  width: 100%;
  height: 300px;
  border-radius: 18px;
}

.img_1 {
  position: relative;
}

.trainer {
  position: absolute;
  bottom: 20px;
  left: 35px;
}

p.ner {
  color: #ccc;
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 5px;
}

.team-box2 {
  padding-top: 10px;
}